<!DOCTYPE html>
 <!-- head -->
  <%- include ('../partials/head') %>
    <!-- header -->
  <%- include ('../partials/header') %>

<main>
  <section>
    <h1>activiteit</h1>
  </section>


    <section class="activitycard">
        <img src="../assets/images/placeholder.jpg" alt="">
      <ul>
        <% activiteit.forEach(function(activiteit){%>
        <li><%= activiteit._id %></li>
        <li><%= activiteit.org_name %></li>
        <li><%= activiteit.activity_title %></li>
        <li><%= activiteit.date %></li>
      </ul>
    </section>

  <form class="login" action="<%= link %>" method="POST">
    <fieldset>
      <legend>Activiteit wijzigen:</legend>
      <label for="activity_title">Name activity</label>
      <input type="text" name="activity_title" >
      <input type="submit" name="save" placeholder="">
    </fieldset>
  </form>
  <% }) %>
</main>

<!-- footer -->
  <%- include ('../partials/footer') %>
