<!DOCTYPE html>
 <!-- head -->
  <%- include ('../partials/head') %>
    <!-- header -->

  <%- include ('../partials/header') %>

<main class="index">

<section class="hero left">
  <div class="page-title">
    <h1>
      Samen op activiteit?
    </h1>
      <a class="CTA" href="inlog">Login/Registreer</a>
  </div>
</section>

<section class="activityList">
  <h2>uitgelicht</h2>
  <% activiteiten.forEach(function(anyPrm){  %>
  <section class="activitycard">
    <img src="assets/images/placeholder.jpg" alt="">
    <ul>
      <li><%= anyPrm.activity_title %></li>
      <li><%= anyPrm.org_name %></li>
      <li><%= anyPrm.date %></li>
    </ul>
    <a href="/activiteiten/<%= anyPrm._id%>">bekijk activiteit</a>
  </section>
  <% }); %>
</section>
</main>

<!--
<ul>
  <% activiteiten.forEach(function(anyPrm){ %>
    <li><%= anyPrm.id %></li>
    <li><%= anyPrm.name %></li>
    <li><%= anyPrm.day %></li>
  <% }); %>

</ul>
-->
<!-- footer -->
  <%- include ('../partials/footer') %>
